<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<filter>
		<filter-name>UrlRewriteFilter</filter-name>
		<filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>UrlRewriteFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<!--<servlet> <servlet-name>Login_Page</servlet-name> <jsp-file>/webpages/login.jsp</jsp-file> 
		</servlet> <servlet-mapping> <servlet-name>Login_Page</servlet-name> <url-pattern>/login</url-pattern> 
		</servlet-mapping> <servlet> <servlet-name>Login_Servlet</servlet-name> <servlet-class>com.appspot.deuvarneyjava.blog.Login_servlet</servlet-class> 
		</servlet> <servlet-mapping> <servlet-name>Login_Servlet</servlet-name> <url-pattern>/login_servlet</url-pattern> 
		</servlet-mapping> -->
	<servlet>
		<servlet-name>Login_Page</servlet-name>
		<jsp-file>/webpages/login.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login_Page</servlet-name>
		<url-pattern>/login_page</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Login_Servlet</servlet-name>
		<servlet-class>com.appspot.deuvarneyjava.blog.Login_servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login_Servlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Logout_Page</servlet-name>
		<jsp-file>/webpages/logout.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout_Page</servlet-name>
		<url-pattern>/logout_page</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Logout_Servlet</servlet-name>
		<servlet-class>com.appspot.deuvarneyjava.blog.Logout_servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout_Servlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Signup_Page</servlet-name>
		<jsp-file>/webpages/signup.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Signup_Page</servlet-name>
		<url-pattern>/signup_servlet/</url-pattern>
		<!-- <url-pattern>/signup</url-pattern> -->
	</servlet-mapping>
	<servlet>
		<servlet-name>Sign_UpServlet</servlet-name>
		<servlet-class>com.appspot.deuvarneyjava.blog.Registration_servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Sign_UpServlet</servlet-name>
		<!-- <url-pattern>/signup_servlet/</url-pattern> -->
		<url-pattern>/signup</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Rot13_Servlet</servlet-name>
		<servlet-class>com.appspot.deuvarneyjava.blog.Rot13_servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Rot13_Servlet</servlet-name>
		<url-pattern>/rot13</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Rot13_jsp</servlet-name>
		<jsp-file>/webpages/rot13.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Rot13_jsp</servlet-name>
		<url-pattern>/rot13jsp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Welcome_jsp</servlet-name>
		<jsp-file>/webpages/welcome.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Welcome_jsp</servlet-name>
		<url-pattern>/welcome</url-pattern>
	</servlet-mapping>




	<servlet>
		<servlet-name>Blog_home_page</servlet-name>
		<jsp-file>/webpages/bloghome.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Blog_home_page</servlet-name>
		<url-pattern>/blog_page</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Blog_home_servlet</servlet-name>
		<servlet-class>com.appspot.deuvarneyjava.blog.BlogHome_servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Blog_home_servlet</servlet-name>
		<url-pattern>/blog</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>NewPost_Page</servlet-name>
		<jsp-file>/webpages/blognewpost.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewPost_Page</servlet-name>
		<url-pattern>/blog/newpost_page</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Blog_NewPost_Servlet</servlet-name>
		<servlet-class>com.appspot.deuvarneyjava.blog.NewPost_servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Blog_NewPost_Servlet</servlet-name>
		<url-pattern>/blog/newpost</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>SinglePost_Servlet</servlet-name>
		<servlet-class>com.appspot.deuvarneyjava.blog.BlogSinglePost_servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SinglePost_Servlet</servlet-name>
		<url-pattern>/blog/singlepost</url-pattern>

	</servlet-mapping>

	<servlet>
		<servlet-name>SinglePost_Page</servlet-name>
		<jsp-file>/webpages/singlepost.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>SinglePost_Page</servlet-name>
		<url-pattern>/blog/singlepost_page</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdminControl_Servlet</servlet-name>
		<servlet-class>com.appspot.deuvarneyjava.blog.AdminControl_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminControl_Servlet</servlet-name>
		<url-pattern>/admin</url-pattern>

	</servlet-mapping>

	<servlet>
		<servlet-name>AdminControl_Page</servlet-name>
		<jsp-file>/webpages/adminControl.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminControl_Page</servlet-name>
		<url-pattern>/admin_page</url-pattern>
	</servlet-mapping>


	<welcome-file-list>
		<welcome-file>webpages/index.jsp</welcome-file>
	</welcome-file-list>

</web-app>